
<ion-view view-titlw="Home">
	
	 <ion-header-bar class="bar-dark">
        <div class="item-button-right ">
         
           <h1 class="title">
            <i class="pie chart icon"></i> Recaudo Diario
          </h1>
          <button class="button button-positive btn-filter" ng-click="openDatePicker()">
           <i class="filter icon"></i>
          </button>
        </div>
      </ion-header-bar>
  
    <div class="bar bar-subheader bar-dark cabecera" style="height:130px;">
       <div class="ui center aligned icon header">
         <i class="circular money icon icono"></i>
         Total: <span>{{total | currency:"$":0}}</span>
       <p class="today_text">{{ currentDate | date:'dd - MMMM - yyyy' }}</p>
       </div>
    </div> 
	      	
	<ion-content class="inverted segment contenido" >
		<ion-refresher
		    pulling-text="Tire para refrescar..."
		    on-refresh="doRefresh()">
		</ion-refresher>
		<ion-list class="ui list-inset lista">
			<div ng-repeat="item in datos" >
				<div class="ui segment item-card">
				   <div class="ui small four  statistics" >
				    
				    <div class="statistic" >
				      <div class="value">
				        <i class="dollar icon"></i> {{(item.recaudo_total)?item.recaudo_total:0 | currency:"":0}}
				      </div>
				      <div class="label">
				        {{item.organismo}}
				      </div>
				    </div>
				   </div>
			    </div>
		    </div>
	    </ion-list>
	</ion-content>
</ion-view>